{% extends "base.html" %}

{% block title %}CV - Project{% endblock %}

{% block content %}
<div>
    <h1>{{ cv_name }}</h1>
    <h2>{{ position }}</h2>
    <p class="center">{{ about }}</p>
</div>
<div>
    {{ cv_links|safe }}
</div>
<div id="main">
        {% for project in projects %}
        <form method="post">
            <h3>{{ project.project_name }}
                <button formaction="/cv/project/{{ project.project_id }}/delete" name="delete" type="submit">Delete</button>
            </h3>
            <p>{{ project.project_date }}</p>
            <p>{{ project.project_description }}</p>
        </form>
        {% endfor %}
</div>
<div>
    {% for project in projects %}
    <b><a href="/cv/project/{{ project.project_id }}/editing">Edit Project</a></b>
    {% endfor %}
    <b><a href="/cv/projects/editing">Add Project</a></b>
</div>
{% endblock %}
