{% extends "base.html" %}

{% block title %}CV - Projects Editing{% endblock %}

{% block content %}
<div>
    <h1>{{ cv_name }}</h1>
    <h2>{{ position }}</h2>
    <p class="center">{{ about }}</p>
</div>
<div>
    {{ cv_links|safe }}
</div>
<form method="post">
<label for="project_name">Название проекта:</label>
        <input id="project_name" name="project_name"></input>
    <br>
        <label for="project_date">Дата:</label>
        <input id="project_date" name="project_date"></input>
    <br>
        <label for="project_description">Описание:</label>
        <textarea id="project_description" name="project_description"></textarea>
    <br>
    {% for project in projects %}
    <button formaction="/cv/project/{{ project.project_id }}/editing/edit" name="edit" type="submit">Edit</button>
    {% endfor %}
</form>
{% endblock %}