{% extends "base.html" %}

{% block title %}Statistics{% endblock %}

{% block content %}
<table>
    <tr>
        <td>Page</td>
        <td>Today</td>
        <td>Yesterday</td>
        <td>Week</td>
        <td>Month</td>
    </tr>
    {% for stat in stats %}
        <tr>
            <td>{{ stat.page }}</td>
            <td>{{ stat.today }}</td>
            <td>{{ stat.yesterday }}</td>
            <td>{{ stat.week }}</td>
            <td>{{ stat.month }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}